
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-2-FwF {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(152.03deg, #bbe7f5 -48.4%, rgba(255, 255, 255, 0.9800000191) 80.95%);
  box-sizing: border-box;
  padding-left: 6.4rem;

  .auto-group-9ztx-fVB {
    margin: 5rem 14.4rem 0rem 0rem;
    width: 74rem;
    flex-shrink: 0;

    .dormhere-wb7 {
      margin-bottom: 19.1rem;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.5;
      color: #268eaf;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .cari-kamar-kost-pakai-dormhere-aja--Pxu {
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 0rem 2.5rem 4.7rem;
      max-width: 69.3rem;

      .cari-kamar-kost-pakai-dormhere-aja--Pxu-sub-0 {
      }
      .cari-kamar-kost-pakai-dormhere-aja--Pxu-sub-1 {
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.5;
        color: #268eaf;
        font-family: Poppins, 'Source Sans Pro';
      }
      .cari-kamar-kost-pakai-dormhere-aja--Pxu-sub-2 {
      }
    }
    .kamu-mahasiswa-unand-pnp-coba-deh-cari-kamar-kost-disini-tAu {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 0rem 6.1rem 5.5rem;
      max-width: 51.2rem;
    }
    .auto-group-pcwv-BA1 {
      align-items: center;
      margin: 0rem 21.5rem 0rem 5.5rem;
      width: calc(100% - 27rem);
      height: 8rem;
      display: flex;

      .group-1-taD {
        font-weight: 700;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #33aacf;
        flex-shrink: 0;
        margin-right: 12.6rem;
        align-items: center;
        color: #ffffff;
        width: 17.2rem;
        font-size: 2.8rem;
        display: flex;
        justify-content: center;
        border-radius: 1.7rem;
        height: 100%;
      }
      .group-6-wHb {
        width: 17.2rem;
        line-height: 1.5;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        font-size: 2.8rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 700;
        height: 100%;
        justify-content: center;
        background-color: #33aacf;
        border-radius: 1.7rem;
      }
    }
  }
  .auto-group-cnjb-QBB {
    box-sizing: border-box;
    width: 97.2rem;
    height: 108rem;
    background-position: center;
    padding: 5.9rem 6.4rem 5.9rem 12.8rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:69bc7b230d41266aa953453b8a1b16cc7277f63d');
    flex-shrink: 0;

    .group-5-v9X {
      height: 3.6rem;
      display: flex;
      column-gap: 6.4rem;
      align-items: center;
      width: 100%;

      .beranda-f77 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .daftar-kos-bmT {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .tentang-kami-w4d {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .hubungi-kami-UKT {
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
