
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 194rem;
}.desktop-1-LXB {
  box-sizing: border-box;
  padding-right: 18.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(152.03deg, #bbe7f5 -48.4%, rgba(255, 255, 255, 0.9800000191) 80.95%);

  .group-3-t2u {
    height: 108.2rem;
    display: flex;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:5:8');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 20rem 19.9rem 46.1rem 12.4rem;
    background-size: cover;
    background-position: center;
    margin-right: 24.5rem;
    flex-direction: column;

    .sudah-punya-akun-PkM {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 13.1rem;
      font-size: 6rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .untuk-tetap-terhubung-silahkan-masuk-sekarang-7wF {
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.1rem;
      max-width: 39.1rem;
      font-size: 3rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
    }
    .group-2-SCq {
      height: 7.9rem;
      text-align: center;
      font-size: 3.2rem;
      background-color: #33aacf;
      width: 22.7rem;
      cursor: pointer;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      justify-content: center;
      border-radius: 1.7rem;
      line-height: 1.5;
      color: #ffffff;
      display: flex;
      align-items: center;
    }
  }
  .auto-group-ryqb-5mb {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 1.6rem;
    width: 56.9rem;
    row-gap: 5rem;
    align-items: center;

    .dormhere-Q3B {
      color: #268eaf;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 0.1rem;
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.5;
    }
    .group-4-w37 {
      width: 100%;
      row-gap: 5.8rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-mplr-Uoj {
        padding: 2.9rem 12.9rem 2.9rem 3.2rem;
        width: calc(100% - 0.2rem);
        display: flex;
        background-color: #add6e2;
        border-radius: 2.6rem;
        flex-shrink: 0;
        margin-left: 0.2rem;
        box-sizing: border-box;
        align-items: center;

        .a0e0bb315b0f7675a9-1-o5K {
          width: 4.6rem;
          height: 3.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.1rem;
        }
        .masukkan-email-anda-iTB {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.400000006);
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-czj1-EAd {
        margin-right: 0.2rem;
        box-sizing: border-box;
        width: calc(100% - 0.2rem);
        background-color: #b0d7e2;
        border-radius: 2.6rem;
        padding: 2.5rem 13.4rem 2.5rem 2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .pngwing-1-8Wu {
          margin-right: 3.8rem;
          width: 5.3rem;
          height: 5.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .masukkan-kata-sandi-fWq {
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.400000006);
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.8rem;
          font-size: 3rem;
          font-weight: 400;
        }
      }
      .auto-group-wvxm-NRF {
        box-sizing: border-box;
        padding: 2.5rem 12.5rem 2.5rem 2rem;
        width: calc(100% - 0.2rem);
        display: flex;
        align-items: center;
        background-color: #b0d7e2;
        border-radius: 2.6rem;
        flex-shrink: 0;
        margin-right: 0.2rem;

        .pngwing-2-hTX {
          margin-right: 3.9rem;
          width: 5.3rem;
          height: 5.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .konfirmasi-kata-sandi-EyF {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.8rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.400000006);
        }
      }
    }
    .group-1-9qK {
      font-weight: 700;
      line-height: 1.5;
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      border-radius: 1.7rem;
      flex-shrink: 0;
      margin: 0rem 8.3rem 0rem 8.5rem;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      background-color: #33aacf;
      width: calc(100% - 16.8rem);
      height: 9.7rem;
      font-size: 4rem;
    }
  }
}
